.button{
    border : 1px solid rgb(27, 25, 25);
    width : 120px;
    height: 35px;
    border-radius: 10rem;
    background-color: rgb(54, 165, 128);
    color: white;
    margin: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    letter-spacing: 0.09rem;
    display: inline-block;
    text-align: center;
    transition: opacity 0.15s;
    transition: background-color 2s;
}

.button:hover{
    background-color: rgb(9, 61, 44);
    opacity: 0.9;
}